@model IEnumerable<ArtistDto>

<h1 class="mt-3">Artists</h1>

<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="Artists" asp-action="Add">Add Artist</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model)
        {
            <tr>
                <td>@artist.Id</td>
                <td>@artist.Name</td>
            </tr>
        }
    </tbody>
</table>